<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Liste des contrats pour le pays <b>{{nameCountry.name}}</b></h1>
  </ion-header-bar>
  <ion-content>
		<ion-list>
		  <ion-item ng-repeat="contrat in contrats | orderBy:'cities'" ng-if="contrats.length > 0" ui-sref="stationContrat({countryIso: contrat.countryIso2,idcontrat: contrat.id})">
		    {{contrat.name}} - {{contrat.brandName}}
		  </ion-item>
		</ion-list>
		<ion-list>
		  <ion-item ng-if="contrats.length === 0">
		    Aucun contrat pour ce pays
		  </ion-item>
		</ion-list>
	</ion-content>
</ion-pane>