<ion-pane>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Liste des pays</h1>
  </ion-header-bar>
  <ion-content>
		<ion-list>
		  <ion-item ng-repeat="countrie in countries | orderBy:'name'" ui-sref="countryDetail({iso: countrie.iso2})">
		    {{countrie.name}}
		  </ion-item>
		</ion-list>
  </ion-content>
</ion-pane>
<div class="tabs-striped tabs-top tabs-background-light tabs-color-light">
	<div class="tabs-striped tabs-color-positive">
		<div class="tabs">
		  <a class="tab-item active" href="#">
		    <i class="icon ion-home"></i>
		    Test
		  </a>
		  <a class="tab-item" href="#/maps">
		    <i class="icon ion-ios-location-outline"></i>
		    Settings
		  </a>
		</div>
	</div>
</div>
  
