<ion-pane>
	<ion-header-bar class="bar bar-header bar-positive">
	<h1 class="title">Liste des stations pour le contrat <b>{{namestation}}</b></h1>
	</ion-header-bar>
	<ion-content>
		<ion-list>
		  <ion-item ng-repeat="station in stations | orderBy:'distance'">
		    <h2>{{station.name}}</h2><br/>
		    Adresse station : {{station.address}}<br/>
		    <b>Distance station : {{station.distance + " km"}}</b><br/>
		    Nombre de vélos disponible: {{station.availableBikes}}<br/>
		    Nombre place vide : {{station.availableFreeSpots}}<br/>
		    Statut de la station : {{station.open ? 'Ouvert' : 'Fermer'}}<br/>
		    Système Paiement : {{station.banking ? 'Oui' : 'Non'}}<br/>
		  </ion-item>
		</ion-list>
		<ion-list>
		  <ion-item ng-if="contrats.length === 0">
		    Aucun contrat pour ce pays
		  </ion-item>
		</ion-list>
	</ion-content>
</ion-pane>