<div ng-controller="mapsController">
  <ng-map zoom="7" center="{{latitude}},{{longitude}}" style="height:800px">
    <marker position="{{latitude}},{{longitude}}" title="Ma position"></marker>
        <custom-marker ng-repeat="countrie in countries" position="{{countrie.latitude}},{{countrie.longitude}}"></custom-marker>
    <marker ng-repeat="mesure in mesures" position="{{mesure.latitude}},{{mesure.longitude}}">
    </marker>
  </ng-map>
</div>